* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    background: url(../img/bgi.jpg) center no-repeat fixed;
    background-size: cover;
    background-color: #54a8ba;
    padding: 10% 0 10% 0;
    counter-reset: variable; 
}
.wrapper {
    width: 1016px;
    background-color: #fff; 
    margin: auto;
    padding: 105px 60px 105px 35px ;
}
h1 {
    font-family: Pathway Gothic One;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 40px;
}
h4 {
    margin-bottom: 15px;
}
.content {
    width: 70%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}
/* .second_bottom_left {
    padding-right: 60px;
} */
.list {
    column-count: 2;
    margin-top: 34px;
}
.item {
    list-style-type: none;
    margin-bottom: 25px;
}
a {
    display: block;
    text-decoration: none;
    font-weight: bold;    
}
.item_circle {
    list-style-type: none;
    position: relative; 
    padding-bottom: 20px;  
}
.item_circle::before {
    position: absolute;
    top: 8px;
    width: 27px;
    height: 25px;
    border-radius: 50%;
    background: #54a8ba;
    display: inline-block;
    content: counter(variable);
    counter-increment: variable;
    text-align: center;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    line-height: 27px;
    border: 1px solid #1b749c;
}
a::before
{
    content: "\2192";
    margin-right: 11px;
}
/* .second_bottom_right {
    padding-bottom: 105px;
} */
h1, h4, a {
    color: #263555;
}
.img {
    width: 361px;
    height: 280px;
    float: left;
    overflow: hidden;
    display: inline-block;
    /* padding-right: 20px;
    padding-bottom: 18px; */
    margin-right: 20px;
    margin-bottom: 18px;
}
.sidebar {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    /* padding-right: 52px; */
}
/* .mb {
    margin-bottom: 27px;
} */
.square {
    width: 212px;
    background-color: #e9d7e8;
    border: 1px solid rgba(211, 122, 233, 0.938);
    border-radius: 2px;
    padding: 10%;
    position: relative;
}
   .square::after {
    content: ''; 
    position: absolute; 
    left: 43%;
    bottom: -39px; 
    border: 15px solid transparent; 
    border-top: 25px solid #e9d7e8; 
   }
.quotes::before {
    content: "\201C";
    margin-right: 2px;
}
.quotes::after {
    content: "\201D";
    margin-left: 2px;
}
.Mark {
    background-color: #fff;
    margin-top: 66px;
    text-align: center;
}
.item_circle>h4, .mb
    {
        margin-left: 40px;      
    }
    /* очистка */
    .clearfix::after {
        display: block;
        clear: both;
        content: "";
    }
    h4, p {
        font-family: Arial;
    }
    .bottom {
        padding-top: 105px;
    }
    .item:last-child {
        margin-bottom: 0;
    }
  